* {
    box-sizing: border-box;
}
h1 {
    text-align: center;
}
body {
    background-color: #2568ab;
}
form {
   margin-left: 50px;
}
.box {
    background-color: #dae6ef;
    list-style: none;
    padding: 100px;
    margin-top: 10px;
    line-height: 27px;
    font-size: 20px;
    border-radius: 5px;
    height: 70vh;
}
.main0 {
    margin: auto;
    text-align: center;
    width: 50%;   
}
.main1 {
    margin: auto; 
    max-width: 50%;
} 
a {
    text-decoration: none;
    color: black;
}
footer {
    bottom: 0;
    position: fixed;
    padding: 8px;
    background-color: rgb(1, 1, 62);
    color: white;
    width: 100%;
    height: 2em;
    left: 0;
}
form {
    width: 300px;
    line-height: 35px;
    
}
select {
    width: 60%;
}

button {
    padding: 40px;
    background-color: #fffefa;
    border-color: #fffefa;
}
.page {
   font-weight: lighter;
   margin-bottom: 20px;
}
.but1 {
    padding: 15px;
    position: absolute;
    left: 350px;
    top: 50px;
}
.but2 {
    padding: 15px;
    position: absolute;
    right: 350px;
    top: 50px;
}
.prev {
    padding: 15px;
    position: absolute;
    left: 350px;
    bottom: 200px;
}
.next {
    padding: 15px;
    position: absolute;
    right: 350px;
    bottom: 200px;
}
.list {
  list-style: none;
  
}
