body{
    font-family: 'Plus Jakarta Sans', sans-serif;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 0;
}
.image{
    margin-right: 30px;
    margin-top: 2px;
}
.image img{
    width: 27.5rem;
}
.box{
    margin-top: 6rem;
    margin-left: 20px;
    text-align: center;
}
h1{
    font-size: 30px;
    font-weight: 500;
}
.big-inp{
    border: 2px solid #0069FC;
    border-radius: 5px;
    padding: 4px;
    padding-bottom: 7px;
    height: 22px;
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    width: 50vh;
}
.mail, .password{
    margin-top: 4px;
    margin-right: -8px;
}
.mail img, .password img{
    width: 61%;
}
input{
    width: 75%;
    height: 25px;
    border: none;
}
input:focus{
    outline: none;
}
input::placeholder{
    font-size: 16px;
    color: #2F2F2F;
    opacity: 1;
    letter-spacing: 1px;
}
.checkbox{
    font-size: 11px;
   display: flex;
   flex-direction: row;
    margin-top: -15px;
    padding-bottom: 25px;
    color: #525252;
    font-weight: 400;
    border-color: black;
    opacity: 1;
}

.small-box{
    width: 20px;
}
span{
    width: 45%;
    color: black;
    opacity: 1;
    margin-top: 2px;
}
.login,.signin{
    width: 100%;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 15px;
    padding: 8px;
    border-radius: 7px;
    
}
.login{
    background-color: #0069FC;
    color: white;
    border: none;
    padding: 12px;
    font-weight: 500;
}
.signin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid #0069FC;
    background-color: white;
    color: #0069FC;
    margin-top: 15px;
}
.login:hover, .signin:hover{
    cursor: pointer;
}
.google{
    margin-top: 1px;
}
.google img{
    width: 60%;
}
.no-account{
    text-align: center;
    font-size: 14px;
}
.join{
    color: #0069FC;
    text-decoration: none;
}