{% extends '_base.html' %}
{% load static %}

{% block title %}Our Policies{% endblock title %}


{% block content %}
    <div class="image">
        <img src="{% static 'images/Frame 11.png' %}">
    </div>

    <div class="box">
        {% for policy in policies %}
            <h3>{{ policy.title }}</h3>
            <p><small>{% translate "Last changed:" %} {{ policy.published_at }}</small></p>
            <p>{{ policy.text|safe }}</p>
        {% endfor %}
    </div>


{% endblock content %}