* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    background-image: linear-gradient(to right, #17a2b8, #007bff);
    outline: none;
    min-height: 95vh;
    position: relative;
}

h1{
    font-size: 4em;
    margin-top: 0.5em;
    text-align: center;
    color: aliceblue;
    text-shadow: rgba(50, 50, 93, 0.25);
}

.main0{    
    background-color: #dae6ef;
    margin: 0 auto 0 auto;
    border-radius: 5px;
    height: 60vh;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2em;
    background-color: rgb(1, 1, 62);
    color: #ffffff;
    padding: 5px;
}

.home-pg, a{
    margin: 15px;
    color: #012147;
    text-decoration: none;
    text-align: center;
}

marquee{
    margin-top: 2em;
}